window {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 14px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(64, 64, 64, 0.6);
}

#input {
color: #DEDEDE;
padding: 6px 12px;
border: none;
border-bottom: 1px solid #DEDEDE;
border-radius: 0;
background-color: transparent;
}

#input:focus {
    border: 1px solid #DEDEDE;;
}

#inner-box {
border: none;
background-color: transparent;
}

#outer-box {
color: #DEDEDE;
padding: 16px;
background-color: transparent;
}

#scroll {
margin-top: 16px;
background-color: transparent;
}

#entry {
    margin: 0;
    padding: 5px 8px;
}

#text {
border: 2px solid transparent;
}

#entry:selected {
background-color: #DEDEDE;
}

#text:selected {
color: #404040;
}

#expander-box {
    background-color: #DEDEDE;
    color: #404040;
}